html {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;

}

h1 {
    background-color: rgb(161, 231, 217);
    font-weight: 800;
    text-align: center;
}

a {
    border: 1px solid green;
    padding: 10px;
    margin: 30px;
    display: block;
}